<h2><%= @entry.title %></h2>
<p><%= @entry.content %></p>
<p><%= @entry.created_at %></p>
<p><%= @entry.updated_at %></p>

<p>Entry Id: <%= @entry.id %></p>

<!--  -->

<% if @user %>
<p> You're logged in as: <%= @user.username%></p>
<% end %>

<!-- This shows the comments -->
<% @entry.comments.each do |comment| %>

	<h4> <%= User.find(comment.user_id).username %> </h4>

  <p>
    <%= comment.title %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.content %>
  </p>


<!--   this allows only the user that posted a comment to delete it, or anyone that
  has admin status -->
  <% if @user %>
  <% if @user.id.to_i == comment.user_id.to_i || @user.admin_status == true %>
  <h4>
  <%= link_to 'Destroy Comment', [comment.entry, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
   </h4>
   <% end %>
   <% end %>
   <p>END COMMENT</p>
<% end %>
<!-- end each loop -->


 <!-- This adds the comment -->
 <% if @user %>
<h2>Add a comment:</h2>
<%= form_for([@entry, @entry.comments.build]) do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>

  <p>
	<%= f.hidden_field :user_id, :value => @user.id %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<% end %>




<%= link_to 'delete', @entry, method: :delete %>

<%= link_to 'edit', edit_entry_path(@entry) %>

<%= link_to "Home", entries_path %>